body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  margin-left: 2rem;
 
}
.main-h2{
  text-align: center;
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1400px;
}
.table thead tr{
  background-color: rgb(189, 216, 216);
  text-align: left;
  font-weight: bold;

}
.table th{
  padding: 12px 15px;
}
.table td{
  padding: 12px 15px;
}